<configuration>
<system.webServer>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="StaticFiles" stopProcessing="true">
                    <match url="^static/.*" />
                    <action type="None" />
                </rule>
                
                <rule name="FlaskPy" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="nx_main.py" /> </rule>
            </rules>
        </rewrite>

        <handlers>
            <remove name="PythonHandler" />
            <add name="PythonHandler" 
                 path="*" 
                 verb="*" 
                 modules="FastCgiModule" 
                 scriptProcessor="D:\sydoc\tools\py\python.exe|D:\sydoc\tools\py\Lib\site-packages\wfastcgi.py"
                 resourceType="Unspecified" 
                 requireAccess="Script" 
                 preCondition="integratedMode" />
        </handlers>

    </system.webServer>
    <appSettings>
       <add key="PYTHONPATH" value="D:\sydoc\nexora" />
       <add key="WSGI_HANDLER" value="nx_main.app" />
    </appSettings>
</configuration>