<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="StaticFiles" stopProcessing="true">
                    <match url="^static/.*" />
                    <action type="None" />
                </rule>
                <rule name="Python Application" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="handler.py" /> </rule>
            </rules>
        </rewrite>

        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\sydoc\app\Python\python.exe|D:\sydoc\app\Python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
       <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Kundenportal-Sydoc" />
       <add key="WSGI_HANDLER" value="app.app" />
       <add key="WSGI_LOG" value="C:\inetpub\wwwroot\Kundenportal-Sydoc\logs\app.log" />
    </appSettings>
</configuration>