{% set error_code = '404' %}
{% set error_chip = _('Signal lost') %}
{% set error_title = _('We could not find this page') %}
{% set error_subtitle = _('The page slipped beyond the event horizon. We searched the void but could not find what you are looking for.') %}
{% set error_doc_url = 'https://developer.mozilla.org/de/docs/Web/HTTP/Reference/Status/404' %}
{% set error_doc_text = _('What does an 404 Error mean?') %}
{% set error_chat_text = _('Cannot find what you are looking for?') %}
{% include 'handlers/_errorBase.html' %}
