{% set error_code = '500' %}
{% set error_chip = _('Critical anomaly') %}
{% set error_title = _('Oops, something went wrong') %}
{% set error_subtitle = _('A spacetime fracture occurred while processing your request. Our team has been notified.') %}
{% set error_doc_url = 'https://developer.mozilla.org/de/docs/Web/HTTP/Reference/Status/500' %}
{% set error_doc_text = _('What does an 500 Error mean?') %}
{% set error_chat_text = _('Report a problem') %}
{% include 'handlers/_error_base.html' %}
