<footer class="border-t border-gray-200 dark:border-slate-700">
    <div class="container flex flex-col items-center justify-between px-6 py-8 mx-auto lg:flex-row">
        <a href="https://sydoc.ch/" data-testid="footer-sydoc-home">
            <img class="w-auto h-24 dark:brightness-0 dark:invert" src="{{ static_v('images/sydoc-logo.png') }}" alt="sydoc-logo">
        </a>

        <div class="flex flex-wrap items-center justify-center gap-4 mt-6 lg:gap-6 lg:mt-0">
            <a href="https://sydoc.ch/ueber-sydoc/" class="text-sm text-gray-600 dark:text-slate-400 transition-colors duration-300 hover:text-indigo-600 dark:hover:text-indigo-400" data-testid="footer-about">
                {{ _('About sydoc') }}
            </a>

            <a href="https://sydoc.ch/ueber-sydoc/kundenmagazin/" class="text-sm text-gray-600 dark:text-slate-400 transition-colors duration-300 hover:text-indigo-600 dark:hover:text-indigo-400" data-testid="footer-magazine">
                {{ _('Client magazine') }}
            </a>

            <a href="https://sydoc.ch/ueber-sydoc/team/" class="text-sm text-gray-600 dark:text-slate-400 transition-colors duration-300 hover:text-indigo-600 dark:hover:text-indigo-400 " data-testid="footer-team">
                {{ _('Team') }}
            </a>
            <a href="https://sydoc.ch/ueber-sydoc/news/" class="text-sm text-gray-600 dark:text-slate-400 transition-colors duration-300  hover:text-indigo-600 dark:hover:text-indigo-400 " data-testid="footer-news">
                {{ _('News') }}
            </a>

            <a href="mailto:info@sydoc.ch" class="text-sm text-gray-600 dark:text-slate-400 transition-colors duration-300  hover:text-indigo-600 dark:hover:text-indigo-400 " data-testid="footer-contact">
                {{ _('Contact') }}
            </a>

            <a href="mailto:support.helpdesk@sydoc.ch" class="text-sm text-gray-600 dark:text-slate-400 transition-colors duration-300 hover:text-indigo-600 dark:hover:text-indigo-400 " data-testid="footer-help">
                {{ _('Help') }}
            </a>
        </div>
        {% include '_nexora_version.html' %}
    </div>
</footer>
