<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 <meta name="csrf-token" content="{{ csrf_token() }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JD Vance Screensaver</title>
  <link rel="stylesheet" href="{{ static_v('css/jdvance.css') }}">
</head>
<body>
  <script nonce="{{ csp_nonce() }}">
  const images = [
      '../static/images/jdvance/jdvance.png',
      '../static/images/jdvance/jdvance2.png',
      '../static/images/jdvance/jdvance3.png',
      '../static/images/jdvance/jdvance4.png',
      '../static/images/jdvance/jdvance5.png',
      '../static/images/jdvance/jdvance6.png',
      '../static/images/jdvance/jdvance7.gif',
      '../static/images/jdvance/jdvance8.png'
    ];

    let count = parseInt(localStorage.getItem('jd_count') || '1', 10);
    localStorage.setItem('jd_count', count + 1);

    for (let i = 0; i < count; i++) {
      const jd = document.createElement('div');
      jd.className = 'jd';

      const randomImage = images[Math.floor(Math.random() * images.length)];
      jd.style.backgroundImage = `url('${randomImage}')`;

      const horizontalDelay = -(Math.random() * 6.8);
      const verticalDelay = -(Math.random() * 17);
      jd.style.animationDelay = `${horizontalDelay}s, ${verticalDelay}s`;

      document.body.appendChild(jd);
    }</script>
</body>
</html>
